@import "../../styles/style.scss";
.bluebar {
  height: 88px;
  background-color: #0690ed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.glooko_logo_white {
  width: 100%;
}
.glooko_logo_parent{
  width: 9.2%;
  margin-left: 3.2%
}

.profile_name_parent{
  margin-left: 54.9%
}

.profile_name {
  width: 7%;
  height: 16px;
  font-family: HelveticaNeue;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.settings {
  width: 5.3%;
  height: 17px;
}
.parent{
  margin-left: 1.2%;
  font-family: HelveticaNeue;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.help {
  width: 2.9%;
  height: 16px;
}

.log_out {
  width: 5%;
  height: 16px;
}